*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #1e2a47;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.app{
   background: #fff;
   width: 100%;
   margin-top: 100px;
   max-width: 600px;
   padding: 30px;
   border-radius: 12px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
} 

.app h1{
    font-size: 24px;
    color: #1e293b;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}  

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 20px;
    color: #334155;
    font-weight: 600;
}

/* Answer buttons */
.btn{
    background: #f8fafc;
    color: #1e293b;
    font-weight: 500;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #cbd5e1;
    text-align: left;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover:not([disabled]){
    background: #1e293b;
    color: #fff;
}

.btn:disabled{
   cursor: no-drop; 
   opacity: 0.7;
}

/* Next button */
#next{
    width: 150px;
    background: #1e293b;
    color: #fff;
    padding: 10px;
    margin: 20px auto 0;
    cursor: pointer;
    border-radius: 6px;
    border: 0;
    display: none;
    font-weight: 500;
}

#next:hover{
    background: #0f172a;
}

/* Correct / Incorrect states */
.correct{
    background: #22c55e !important;
    color: #fff;
}

.incorrect{
    background: #ef4444 !important;
    color: #fff;
}
